{% extends 'base.html' %}

{% block head %}
<title>Hashing ez</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Hasher !</h1>

    <table>
        <tr>
            <th> data </th>
            <th> function </th>
            <th> hash </th>
        </tr>
        <tr>
            <th>
                <form actions="/" method="POST"> 
                    <input type="text" name="content" id="content">     
                </form></th>

            <th>
                <select name="function">
                    <option value="sha256">SHA256</option>
                    <option value="md5">MD5</option>
                </select></th>

            <th>
                <form actions="/" method="POST"> 
                    <input type="submit" value="Valider">        
                </form></th>

        </tr>
    </table>
</div>
{% endblock %}